#blokowy1 {
    
    background-color: aqua;
}

#blokowy2 {
    background-color: yellow;
    
}

p {
    display: inline;
}

#liniowo-blokowy1 {
    background-color: lightpink;
    
}

#liniowo-blokowy2 {
    background-color: lightgreen;
    
}

p.liniowo-blokowy {
    
    display: inline;
  
}

div#kontener2 {
    text-align: center;
}
